*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*inicio del HEADER*/
.header{
    background-image: url(/assets/img/fondo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    position: relative;
}

.content{
    /* max-width: 1280px; */
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.link,
.boton{
    color: #fff;
    text-decoration: none;
}

.div-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    width: 95%;
}

.div-header-text{
    font-size: 2rem;
    font-family: 'Ms Madi', cursive;
    font-weight: 400;
}

.header-list{
    display: flex;
}

.header-list-item{
    list-style: none;
    margin-right: 1.6em;
}

.link{
    color: #54595f;
    transition: all .2s;
}

.link:hover{
    border-bottom: 2px solid #5cb8ff;
    color: #5cb8ff;
    padding-bottom: 10px;
}

.div-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.titles{
    color: #54595f;
}

.main-title{
    font-size: 3.75rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .1em;
}

.second-title{
    font-size: 1.5rem;
    margin-top: 5px;
    margin-bottom: 40px;
}

.botton-main,
.botton-aboutme{
    background-color: #5cb8ff;
    border-radius: 15px;
    display: inline-block;
    font-size: 1rem;
    padding: 1rem 2rem;
    transition: all .2s;
}

.botton-main:hover,
.botton-aboutme:hover{
    background-color: #40a8fa;
}

.botton-main:active,
.botton-aboutme:active{
    transform: scale(0.9);
}
/*Fin Header*/

/*Incio Sección Aboutme*/
/* section{
    height: 100vh;
} */

.third-title{
    font-size: 3.5rem;
    font-weight: normal;
    margin-bottom: 10px;
    text-align: center;
}

.content-about-me{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 6.9rem;
}

.content-about-me-img{
    border-radius: 50%;
}

.content-p-a{
    width: 50%;
}

.content-p-a-paragraph{
    font-size: 1.2rem;
    text-align: center;
}

.p-final{
    margin-bottom: 1rem;
}

.botton-aboutme{
    margin-top: 20px;
}

/*Fin Sección Aboutme*/

/*Inicio Sección Services*/

.content-service{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.service{
    color: #fff;
    border-radius: 10px;
    margin-bottom: 40px;
    padding: 38px;
    width: 29%;
}

.violet{
    background-color: #5055df;
}

.skyblue{
    background-color: #40a8fa;
}

.title-services{
    font-size: 1rem;
    letter-spacing: 3px;
    text-align: center;
}

.service img{
    float: right;
}

/*Fin Sección Service*/

/**//**//**/
/*FOOTER*/
/**//**//**/

.footer{
    background-color:rgba(84, 89, 95,.7);
}

.footer-content{
    display: flex;
    max-width: 1200px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    /* justify-content: space-between; */
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.contact-us{
    color: #fff;
    width: 42%;
}

.brand{
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.contact-us-paragraph{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.social-media-icon{
    border: 1px solid #fff;
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 60px;
    margin-left: 20px;
    transition: all .3s;
    text-align: center;
    width: 60px;
}

.social-media-icon.face:hover{
    background: #fff;
    color: #3b5998;
}

.social-media-icon.twitter:hover{
    background: #fff;
    color:  #00acee;
}

.social-media-icon.instagram:hover{
    background: #fff;
    color: #bc2a8d;
}

.social-media-icon:active{
    transform: scale(.9);
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;
}

.line{
    background: #fff;
    height: 2px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 95%;
}

.copy{
    margin-bottom: 0;
    padding-bottom: 5px;
    text-align: center;
}
/*Fin Footer*/